body
{
    margin: 0;
    padding: 0;
}



/*header*/
header
{
    width: 100vw;
    height: 20vw;
    background-color: #FF5760;
    background-image: url("./images/phare.jpg");

}

.researchzone
{
   margin: 80px;
}

.headertext
{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 20px;    
}

.click
{
    display: flex;
    align-content: flex-start;
    flex-flow: wrap column;
}

/*searchzone*/
form
{
    display: flex;
    background: #FF5760;
    text-align: left;
    flex-flow: row wrap;
    justify-content: center;
}
    
article
{
    display: flex;
    flex-direction: column;
    margin: 80px; 
    background-color: aquamarine;  

}

h3
{
    display: flex;
    flex-direction: column;
}
.blocs
{
    display: flex;
    text-align: left;
    flex-direction: row;
    align-content: space-between;
}

/*avis*/


/*CGU*/

/*instantanéité*/

/*disponibilités*/

/*footer*/
footer
{
    display: flex;
    background-color: chocolate;
    margin: 80px;
    flex-direction: row;
    align-items: baseline;
    
}

/*@mediascreen*/
@media screen and (max-width:1024px)
{
    .voyageurs {
        display: none;
    }
}

@media screen and (min-width:1025px)
{
    .people {
        display: none;
        flex-wrap: wrap;
    }
}