body
{
    margin: 0;
    padding: 0;
}



/*header*/
header
{
    width: 100vw;
    height: 30vw;
    *background-color: #FF5760;
    background-image: url("./images/phare5.jpg");
    background-attachment: fixed;
    background-size: 1200px;
    opacity: 1;
    

}


.headertext
{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 80px; 
    color: black;
    font-weight: bold;   
}

.click
{
    display: flex;
    padding: 20px 500px 40px 0px;
    text-align: left;
    flex-flow: wrap row;
    justify-content: space-around;
}

span
{
    border-style: solid;
}

/*searchzone*/
nav
{
    display: flex;
    width: 100vw;
    height: 20vw;
    flex-flow: row wrap;
    justify-content: center;
    *background-color: #FF5760;

}

form
{
    display: flex;
    align-items: center;
    text-align: left;   
}

.blocsnav
{
    display: flex;
    justify-content: space-around;
}


    
article
{
    display: flex;
    padding: 0px;
    flex-direction: column;
    align-content: center;
    margin: 20px 20px 20px 20px; 
    *background-color: aquamarine;  

}




h3
{
    display: flex;
    flex-direction: column;
}
.blocs
{
    display: flex;
    padding: 10px 10px 10px 10px;
    float: none;
    text-align: left;
    flex-direction: row;
    justify-content: center;
}

figure
{
    display: flex;
    
    align-items: left;
}

p
{
    color: black;
    font-weight: bold;
    font-size: small;
}
/*avis*/


/*CGU*/

/*instantanéité*/

/*disponibilités*/

/*footer*/
footer
{
    display: flex;
    background-color: chocolate;
    margin: 80px;
    flex-direction: row;
    align-items: baseline;
    
}

/*@mediascreen*/
@media screen and (max-width:1024px)
{
    .voyageurs {
        display: none;
    }
}

@media screen and (min-width:1025px)
{
    .people {
        display: none;
        flex-wrap: wrap;
    }
}